*{
    box-sizing: border-box;
}
/* Small devices (portrait tablets and large phones, 600px and up) */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {} */
#center{
    width:700vw;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    height:100vh;
    
}
body{
    background-color: black;
}
h2, q, p{
    text-align: center;
    
}

#similar-margin{
    margin-left: 10px;
}

.two5 {
    background-color: #ffdddd;
    border-left: 6px solid #f44336;
    height:30px;

  }
  
  .two {
    background-color: #ddffdd;
    border-left: 6px solid #04AA6D;
    height:30px;
  }
  
  .one {
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
    height:30px;
  }
  
  
  .one5 {
    background-color: #ffffcc;
    border-left: 6px solid #ffeb3b;
    height:30px;
  }
  .three {
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
    height:30px;

  }
  
  .three5 {
    background-color: #ddffdd;
    border-left: 6px solid #04AA6D;
    height:30px;
  }
  
  .four {
    background-color: #ffdddd;
    border-left: 6px solid #f44336;
    height:30px;
  }
  
  
  .five {
    background-color: #ffffcc;
    border-left: 6px solid #ffeb3b;
    height:30px;
  }
  .eight {
    background-color: #ffdddd;
    border-left: 6px solid #f44336;
    height:30px;

  }
  
  .ten {
    background-color: #ddffdd;
    border-left: 6px solid #04AA6D;
    height:30px;
  }
  
  .fifteen {
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
    height:30px;
  }
  
  
  .twenty {
    background-color: #ffffcc;
    border-left: 6px solid #ffeb3b;
    height:30px;
  }
  .twenty-five {
    background-color: #ffdddd;
    border-left: 6px solid #f44336;
    height:30px;

  }
  
  .thirty {
    background-color: #ddffdd;
    border-left: 6px solid #04AA6D;
    height:30px;
  }
  
  .fifty {
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
    height:30px;
  }
  
